.main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  min-height: 100vh;
}

.main::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 430px;
  right: 0;
  top: 0;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../public/bg-top.svg");
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header h1 {
  color: #686d83;
  z-index: 1;
}

.header div {
  color: #afb1bd;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-weight: 600;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #7c7fe6;
  transition: .4s;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:hover + .slider {
  background-color: #c5c8f5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #c5c8f5;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 300px;
  border-radius: 10px;
  z-index: 1;
}

.card > h2 {
  margin-top: 30px;
  font-size: 15px;
}

.card > span {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: -0.3rem;
}


.card:nth-of-type(1),
.card:nth-of-type(3) {
  background-color: #fff;
  height: 415px;
  box-shadow: 0 0 100px -20px #ddd8d8;
}

.card:nth-of-type(2) {
  background-image: linear-gradient(-40deg,#6c70de, #a1a5ef);
  color: #fff;
  height: 450px;
  z-index: 2;
}


.card:nth-child(1) > h2,
.card:nth-child(3) > h2 {
  color: #737489;
}

.card:nth-child(2) > h2 {
  margin-top: 50px;
}

.card:nth-child(1) > span,
.card:nth-child(3) > span {
  color: #4a4d5e;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.card:nth-child(1) .features,
.card:nth-child(3) .features {
  color: #737489;
}

.card .features span {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  width: 250px;
  border-top: 1px solid #ddd;
}

.card .features span:last-child {
  border-bottom: 1px solid #ddd;
}

.card:nth-child(2) .features span {
  border-color: #a1a8f9;
}

.card button {
  border: none;
  width: 250px;
  height: 40px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  background-image: linear-gradient(-30deg,#6a70de, #a0a4ee);
  color: #fff;
  font-weight: 600;
}

.card:nth-child(2) button {
  background-image: none;
  background-color: #fff;
  color: #6a70de;
}

@media screen and (width <= 950px) {
  .cards {
    flex-direction: column;
    gap: 30px;
  } 

  .card {
    box-shadow: 0 0 100px -20px #ddd8d8;
    height: 450px;
  }

  .main::after {
      width: 200px;
      height: 500px;
  }

}